body{
    background-color: #fff;
    margin: 0;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.6;
    color: #727272;
}

*,
*::after,
*::before{
    box-sizing: border-box;
}


/* Header */
.header{
    width: 100%;
    height: 100px;
    display: flex;
    position: absolute;
    z-index: 10;

    background-color: #EEEFF1;
}

.menu{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.menu-logo{
    font-family: 'Revalia', cursive;
    font-size: 40px;
    color: #34547A;
}

.navigation{
    width: 55%;
    max-width: 100%;
}

.nav{
    justify-content: space-around;
    display: flex;
    text-align: center;

    padding-top: 20px;
}

.nav-link{
    text-decoration: none;
    color: black;
    letter-spacing: 1.5px;
}

.nav-link:hover{
    color: #34547A;
}


/* Intro */
.intro{
    padding: 100px 0;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    background-color: #EEEFF1;
}

.intro-conteiner{
    margin: auto;
    padding-top: 70px;
    width: 60%;

    display: flex;
    justify-content: space-between;
}

.intro-image{
    padding-top: 30px;
}

.intro-image img{
    max-width: 100%;
    min-width: 30%;
}

.intro-content{
    width: 500px;
    max-width: 100%;
    margin-left: 30px;
}

.intro-title{
    font-size: 40px;
    font-weight: 500;
    color: black;

    /* margin-bottom: 35px; */
}

.intro-text{
    width: 445px;
    max-width: 100%;
    padding-top: 35px;
}

.intro-link{
    text-decoration: none;
    color: #fff;
    text-align: center;

    display: flex;
    margin-top: 35px; 
}

.intro-button{
    height: 60px;
    width: 200px;
    max-width: 100%;
    background-color: #34547A;

    letter-spacing: 1px;
    padding-top: 20px;
}


/* About */
.about{
    width: 100%;
    max-width: 100%;
    height: 300px;
    display: flex;
}

.about-conteiner{
    margin: auto;
    justify-content: center;
    text-align: center;

    width: 470px;
    max-width: 100%;
}

.about-title{
    font-size: 32px;
    font-weight: 500;
    color: black;

    margin-bottom: 30px;
}


/* 40+ projects */
.projects{
    display: flex;

    width: 100%;
    max-width: 100%;
    height: 200px;

    background-color: #34547A;
    color: #fff;
}

.projects-conteiner{
    width: 1000px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.projects-content{
    display: flex;
    margin: auto;
}

.projects-footnote{
    margin-left: 20px;
    max-width: 100%;
}

.projects-title{
    font-weight: 500;
}

/* Skills */
.skills{
    display: flex;

    width: 100%;
    max-width: 100%;
    margin: 7em 0;
}

.skills-conteiner{
    display: flex;
    margin: auto;
    width: 60em;

    justify-content: space-between;
}

.skills-conteiner img{
    max-width: 100%;
    height: auto;
}

.skills-content{
    margin: auto;
    margin-left: 0;
    margin-right: 10em;
}

.skills-title{
    font-weight: 500;
    font-size: 32px;
    color: black;

    padding-bottom: 1em;
}

.skills-text{
    margin-bottom: 15px;
}

.skills-level{
    width: 300px;
    height: 0.3em;
    background: linear-gradient(to right, #34547A 70%, #C4C4C4 50%);
    
    margin-bottom: 10px;
}


/* Technologies */
.technologies{
    background-color: #EEEFF1;
    display: flex;
}

.technologies-conteiner{
    margin: auto;
    display: flex;
}

.technologies-content{
    justify-content: center;
    text-align: center;
}

.technologies-title{
    font-weight: 500;
    font-size: 32px;
    color: black;

    margin-top: 50px;
    margin-bottom: 25px;
}

.technologies-text{
    width: 30em;
    margin: auto;
    margin-bottom: 30px;
}

.video{
    width: 1100px;
    height: 600px;
    margin-bottom: 50px;
}


/* Photo */
.photoes{
    margin-top: 1em;
    /* flex-wrap: wrap; */
}

.photo-conteiner-1, .photo-conteiner-2{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.photo{
    position: relative;
}

.photo:hover .item-svg{
    opacity: 1;
}

.item-img{
    background-color: #34537a;
    transition: transform .2s linear;
}

.item-img img {
    max-width: 100%;
    min-width: 200px;
    display: block;
    transition: opacity .2s linear;
}

.photo:hover .item-img img {
    opacity: .5;
}

.photo:hover .item-svg {
    opacity: 1;
}

.item-svg{
    align-items: center;
    opacity: 0;
    left: 38%;
    top: 45%;

    max-width: 100%;

    position: absolute;
    z-index: 2;
    transition: opacity .4s linear;
}


/* Microsoft */
.microsoft{
    width: 100%;
    max-width: 100%;
    margin: 3em 0 5em;
}

.microsoft-conteiner{
    display: flex;
    justify-content: space-around;
    width: 70em;
    margin: auto;
}

.svg-mic img{
    max-width: 100%;
}


/* Forms */
.forms-contact{
    display: flex;
    width: 100%;
    max-width: 100%;
    height: 50em;
    justify-content: center;

    background-color: #EEEFF1;
}

.forms-title{
    font-weight: 500;
    font-size: 32px;
    color: black;

    margin-top: 50px;
    margin-bottom: 25px;
    text-align: center;
}

.forms-text{
    width: 30em;
    margin: auto;
    margin-bottom: 3em;
    text-align: center;
}

.forms{
    text-align: center;
}

.p_data{
    margin-bottom: 20px;
}

input[type=name]{
    width: 250px;
    height: 50px;

    padding-top: 0.4em;
    padding-left: 1em;

    border: 0;
}

input[type=email]{
    margin-left: 20px;
    width: 250px;
    height: 50px;

    padding-top: 0.4em;
    padding-left: 1em;

    border: 0;
}

input[type=text]{
    padding-top: 0.4em;
    padding-left: 1em;

    width: 520px;
    height: 15em;

    border: 0;
    
    margin-bottom: 3em;
}

.btn_submit{
    padding: 1.5em 3em;

    background-color: #34537a;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.15em;

    cursor: pointer;
}


/* Footer */
.footer{
    height: 10em;
    background-color: #34537a;
    color: #fff;
    display: flex;
    justify-content: center;
}

.footer-conteiner{
    padding-top: 2.5em;
    display: flex;
    width: 70em;
    max-width: 100%;
    justify-content: space-between;
}

.footer-title{
    font-weight: 500;
    font-size: 21px;
    margin-bottom: 0.3em;
}

.footer-pic{
    padding-top: 1.3em;
}

.f-pic{
    margin-right: 0.5em;
}


/* Media */
@media(max-width: 1200px){
    /* Intro */
    .intro-conteiner{
        justify-content: center;
        flex-wrap: wrap;
    }

    .intro-content{
        align-items: center;
        text-align: center;
    }

    .intro-title{
        margin-top: 0.7em;
    }

    .intro-text{
        padding-top: 15px;
    }

    .intro-link{
        display: flex;
        justify-content: center;
        align-items: center;
    }


    /* Menu */
    .menu{
        flex-wrap: wrap;
    }
    
    .nav{
        flex-wrap: wrap;
    }


    /* Projects */
    .projects-conteiner{
        flex-wrap: wrap;
        margin: 20px;
    }

    .projects-content{
        flex-wrap: wrap;
    }


    /* Skills */
    .skills{
        margin: 2em 0;
    }

    .skills-conteiner{
        justify-content: center;
        align-items: center;
        text-align: center;

        flex-wrap: wrap;
        margin: 10px 20px;
    }

    .skills-content{
        margin: auto;
        margin-bottom: 20px;
    }


    /* Technologies */
    .technologies-content iframe{
        max-width: 90%;
    }


    /* Photoes */
    .item-svg img{
        max-width: 100%;
        /* width: 100px; */
    }


    /* Microsoft */
    .microsoft-conteiner{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }


    /* Contact */
    .forms-contact{
        height: 45em;
    }

    .p_data input{
        width: 200px;
        height: 40px;
    }

    .forms form input[type=text]{
        width: 420px;
    }


    /* Footer */
    .footer-conteiner{
        padding-left: 1em;
        padding-right: 1em;
    }
}